@page "{id}"
@model Razor.Pages.Employees.DetailsModel
@{
}

<img src="~/img/@Model.Employee.Photo" />

<h1 class="mt-3">@Model.Employee.Name</h1>
<h1 class="mt-3">@Model.Employee.Department</h1>
<h1 class="mt-3">@Model.Employee.Email</h1>
