@page "/EmployeeList" 
@model Razor.Pages.Employees.IndexModel
@{
}

<h1>Employees</h1>
<div class="row">
    @foreach (var item in Model.EmployeeList)
    {
        <div class="col-md-3 mb-2">
            <div class="card">
                <img src="~/img/@item.Photo" alt="Resim" class="card-img-top"/>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @item.Name
                </h5>
                <p class="card-text">@item.Department</p>
                <a asp-page="/Employees/Details" asp-route-id="@item.Id"  class="btn btn-primary">Details</a>
                <a asp-page="/Employees/Edit" asp-route-id="@item.Id"  class="btn btn-warning">Edit</a>
            </div>
        </div>
       
    }
</div>